<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.PROYECTO_DSConnectionString"
            connectionString="Data Source=DESKTOP-0FJ2GFG;Initial Catalog=PROYECTO_DS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>