<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.PROYECTO_DSConnectionString"
            connectionString="Data Source=sql5030.site4now.net;User ID=DB_A28C2C_DesarrolloEHE_admin;Password=eheehe123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>