USE [master]
GO
/****** Object:  Database [PROYECTO_DS]    Script Date: 6/11/2017 17:43:37 ******/
CREATE DATABASE [PROYECTO_DS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROYECTO_DS', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PROYECTO_DS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PROYECTO_DS_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PROYECTO_DS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROYECTO_DS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROYECTO_DS]
GO
/****** Object:  StoredProcedure [dbo].[PGI_DATOS_USUARIO]    Script Date: 6/11/2017 17:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PGI_DATOS_USUARIO]
(
	@nuevoid nvarchar(50)
)
AS
	SET NOCOUNT ON;
SELECT COUNT(*) AS cuantos
FROM     DATOS_USUARIO
WHERE  (ID_DATOS_USUARIO like @nuevoid + '%')
GO
/****** Object:  StoredProcedure [dbo].[PGI_USUARIO]    Script Date: 6/11/2017 17:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PGI_USUARIO]
(
	@NUEVOID nvarchar(50)
)
AS
	SET NOCOUNT ON;
SELECT COUNT(*) AS CUANTOS
FROM     USUARIO
WHERE  (ID_USUARIO like @NUEVOID + '%')
GO
/****** Object:  StoredProcedure [dbo].[Pi_DATOS_USUARIO]    Script Date: 6/11/2017 17:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Pi_DATOS_USUARIO]
@ID NVARCHAR(50),
@NOMBRE NVARCHAR(50),
@APELLIDO_1 NVARCHAR(50),
@APELLIDO_2 NVARCHAR(50),
@DPI NVARCHAR(50),
@TEL NVARCHAR(20)
AS
BEGIN
	INSERT INTO DATOS_USUARIO VALUES(@ID,@NOMBRE,@APELLIDO_1,@APELLIDO_2,@DPI,@TEL)
END

GO
/****** Object:  StoredProcedure [dbo].[PI_USUARIO]    Script Date: 6/11/2017 17:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PI_USUARIO]
@ID NVARCHAR(50),
@USUARIO NVARCHAR(50),
@PASS NVARCHAR(50),
@TIPO NVARCHAR(50),
@DATOS NVARCHAR(50),
@ESTADO BIT
AS
BEGIN
insert into USUARIO values(@id,@USUARIO,(convert (nvarchar (50),HASHBYTES('md5',@PASS),2)),@TIPO,@DATOS,@ESTADO) 
END

GO
/****** Object:  StoredProcedure [dbo].[PM_DATOS_USUARIO]    Script Date: 6/11/2017 17:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PM_DATOS_USUARIO]
@ID NVARCHAR(50),
@NOMBRE NVARCHAR(50),
@APELLIDO_1 NVARCHAR(50),
@APELLIDO_2 NVARCHAR(50),
@DPI NVARCHAR(50),
@TEL NVARCHAR(20)
AS
BEGIN
	UPDATE DATOS_USUARIO SET NOMBRE_EMPLEADO= @NOMBRE,APELLIDO_1_EMPLEADO= @APELLIDO_1,APELLIDO_2_EMPLEADO= @APELLIDO_2,DPI_EMPLEADO= @DPI,TELEFONO_EMPLEADO= @TEL
	WHERE ID_DATOS_USUARIO=@ID
END

GO
/****** Object:  StoredProcedure [dbo].[PM_USUARIO]    Script Date: 6/11/2017 17:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PM_USUARIO]
@ID NVARCHAR(50),
@USUARIO NVARCHAR(50),
@PASS NVARCHAR(50),
@TIPO NVARCHAR(50),
@DATOS NVARCHAR(50),
@ESTADO BIT
AS
BEGIN
UPDATE USUARIO SET NOMBRE_USUARIO= @USUARIO,CONTRASEÑA= (convert (nvarchar (50),HASHBYTES('md5',@PASS),2)),ID_TIPO_USUARIO= @TIPO,ID_DATOS_USUARIO= @DATOS,
ESTADO = @ESTADO
WHERE ID_USUARIO =@ID
END

GO
/****** Object:  StoredProcedure [dbo].[PS_DATOS_USUARIO]    Script Date: 6/11/2017 17:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_DATOS_USUARIO]
(
	@id nvarchar(50)
)
AS
	SET NOCOUNT ON;
SELECT ID_DATOS_USUARIO AS Id, NOMBRE_EMPLEADO AS Nombre, APELLIDO_1_EMPLEADO AS [Primer Apellido], APELLIDO_2_EMPLEADO AS [Segundo Apellido], DPI_EMPLEADO AS Dpi, 
                  TELEFONO_EMPLEADO AS Telefono
FROM     DATOS_USUARIO
WHERE  (ID_DATOS_USUARIO = @id)
GO
/****** Object:  StoredProcedure [dbo].[PS_MUNICIPIO_DEPARTAMENTO]    Script Date: 6/11/2017 17:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_MUNICIPIO_DEPARTAMENTO]
(
	@id_mun nvarchar(50)
)
AS
	SET NOCOUNT ON;
SELECT DEPARTAMENTO.ID_DEPARTAMENTO AS Id_Departamento, MUNICIPIO.ID_MUNICIPIO AS Id_Municipio, DEPARTAMENTO.NOMBRE_DEPARTAMENTO AS Departamento, 
                  MUNICIPIO.NOMBRE_MUNICIPIO AS Municipio, DEPARTAMENTO.LONGITUD AS Longitud, DEPARTAMENTO.LATITUD AS Latitud
FROM     DEPARTAMENTO INNER JOIN
                  MUNICIPIO ON DEPARTAMENTO.ID_DEPARTAMENTO = MUNICIPIO.ID_DEPARTAMENTO
WHERE  (MUNICIPIO.ID_MUNICIPIO = @id_mun)
GO
/****** Object:  StoredProcedure [dbo].[PS_USUARIO]    Script Date: 6/11/2017 17:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_USUARIO]
(
	@id nvarchar(50)
)
AS
	SET NOCOUNT ON;
SELECT ID_USUARIO AS Id, NOMBRE_USUARIO AS Usuario, CONTRASEÑA AS Contraseña, ID_TIPO_USUARIO AS Id_Tipo, ID_DATOS_USUARIO AS Id_Datos,
ESTADO
FROM     USUARIO
WHERE  (ID_USUARIO = @id)
GO
/****** Object:  Table [dbo].[ANIO]    Script Date: 6/11/2017 17:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANIO](
	[ID_ANIO] [nvarchar](50) NOT NULL,
	[ANIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ANIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BITACORA]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA](
	[ID_BITACORA] [nvarchar](50) NOT NULL,
	[DESCRIPCION_BITACORA] [nvarchar](100) NOT NULL,
	[FECHA_BITACORA] [date] NOT NULL,
	[ID_USUARIO] [nvarchar](50) NOT NULL,
	[ID_TIPO_BITACORA] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BITACORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHECKEO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHECKEO](
	[ID_CHECKEO] [nvarchar](50) NOT NULL,
	[FECHA_CHECKEO] [date] NOT NULL,
	[ID_TIPO_CHECKEO] [nvarchar](50) NOT NULL,
	[ID_ESTADO_CHECKEO] [nvarchar](50) NOT NULL,
	[ID_RESULTADO] [nvarchar](50) NULL,
	[ID_VEHICULO] [nvarchar](50) NOT NULL,
	[ID_USUARIO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__CHECKEO__D4A37043244406D6] PRIMARY KEY CLUSTERED 
(
	[ID_CHECKEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CIUDAD]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[ID_CIUDAD] [nvarchar](50) NOT NULL,
	[NOMBRE_CIUDAD] [nvarchar](50) NOT NULL,
	[ID_MUNICIPIO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CIUDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COBRO_MORA]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COBRO_MORA](
	[ID_MORA] [nvarchar](50) NOT NULL,
	[FECHA_CREACION] [date] NOT NULL,
	[DIAS_ATRASO] [int] NOT NULL,
	[PORSENTAJE] [int] NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTRATO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRATO](
	[ID_CONTRATO] [nvarchar](50) NOT NULL,
	[ID_USUARIO] [nvarchar](50) NOT NULL,
	[PRECIO_INSCRIPCION] [money] NOT NULL,
	[MORA] [money] NOT NULL,
	[PRECIO_MES] [money] NOT NULL,
	[FECHA_CONTRATO] [date] NOT NULL,
	[FECHA_FINAL] [date] NOT NULL,
	[HORA_INICIAL] [time](7) NOT NULL,
	[HORA_FINAL] [time](7) NOT NULL,
	[PRECIO_PASAJE] [money] NOT NULL,
	[ID_RUTA] [nvarchar](50) NOT NULL,
	[ID_ANIO] [nvarchar](50) NOT NULL,
	[ID_VEHICULO] [nvarchar](50) NOT NULL,
	[ID_ESTADO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONTRATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DATOS_REPORTADOR]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATOS_REPORTADOR](
	[ID_REPORTADOR] [nvarchar](50) NOT NULL,
	[NOMBRE_REPORTADOR] [nvarchar](50) NOT NULL,
	[APELLIDO_REPORTADOR] [nvarchar](50) NOT NULL,
	[DPI_REPORTADOR] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_REPORTADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DATOS_USUARIO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATOS_USUARIO](
	[ID_DATOS_USUARIO] [nvarchar](50) NOT NULL,
	[NOMBRE_EMPLEADO] [nvarchar](50) NOT NULL,
	[APELLIDO_1_EMPLEADO] [nvarchar](50) NOT NULL,
	[APELLIDO_2_EMPLEADO] [nvarchar](50) NOT NULL,
	[DPI_EMPLEADO] [nvarchar](50) NOT NULL,
	[TELEFONO_EMPLEADO] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DATOS_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[ID_DEPARTAMENTO] [nvarchar](50) NOT NULL,
	[NOMBRE_DEPARTAMENTO] [nvarchar](50) NOT NULL,
	[LONGITUD] [float] NOT NULL,
	[LATITUD] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DEPARTAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETALLE_CHECKEO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_CHECKEO](
	[ID_DETALLE_CHECKEO] [nvarchar](50) NOT NULL,
	[DESCRIPCION_CHECKEO] [nvarchar](100) NOT NULL,
	[ID_ESTADO_PARTE] [nvarchar](50) NOT NULL,
	[ID_CHECKEO] [nvarchar](50) NOT NULL,
	[ID_PARTE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_CHECKEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETALLE_PAGO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PAGO](
	[ID_DETALLE_PAGO] [nvarchar](50) NOT NULL,
	[COSTO_PAGO] [money] NOT NULL,
	[DESCRIPCION_PAGO] [nvarchar](50) NOT NULL,
	[ID_ENCABEZADO_PAGO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIRECCION]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECCION](
	[ID_DIRECION] [nvarchar](50) NOT NULL,
	[ZONA] [nvarchar](20) NOT NULL,
	[CALLE] [nvarchar](50) NOT NULL,
	[DESCRIPCION_CASA] [nvarchar](150) NOT NULL,
	[LONGITUD] [float] NOT NULL,
	[LATITUD] [float] NOT NULL,
	[ID_MUNICIPIO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DIRECION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[ID_EMPRESA] [nvarchar](50) NOT NULL,
	[NIT_EMPRESA] [nvarchar](50) NOT NULL,
	[NOMBRE_EMPRESA] [nvarchar](50) NOT NULL,
	[TELEFONO_1] [nvarchar](20) NOT NULL,
	[TELEFONO_2] [nvarchar](20) NOT NULL,
	[CORREO_EMPRESA] [nvarchar](50) NOT NULL,
	[ID_TIPO_EMPRESA] [nvarchar](50) NOT NULL,
	[ID_REPRESENTANTE] [nvarchar](50) NOT NULL,
	[ID_DIRECION] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ENCABEZADO_PAGO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENCABEZADO_PAGO](
	[ID_ENCABEZADO_PAGO] [nvarchar](50) NOT NULL,
	[FECHA_PAGO] [date] NOT NULL,
	[TOTAL] [money] NOT NULL,
	[ID_CONTRATO] [nvarchar](50) NOT NULL,
	[ID_USUARIO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ENCABEZADO_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID_ESTADO] [nvarchar](50) NOT NULL,
	[NOMBRE_ESTADO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTADO_CHECKEO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_CHECKEO](
	[ID_ESTADO_CHECKEO] [nvarchar](50) NOT NULL,
	[NOMBRE_ESTADO_CHECKEO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_CHECKEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTADO_PARTE]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_PARTE](
	[ID_ESTADO_PARTE] [nvarchar](50) NOT NULL,
	[NOMBRE_ESTADO_PARTE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_PARTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HISTORIAL_VEHICULO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_VEHICULO](
	[ID_HISTORIAL_VEHICULO] [nvarchar](50) NOT NULL,
	[FECHA_INSIDENTE] [date] NOT NULL,
	[DESCRIPCION] [nvarchar](300) NOT NULL,
	[ID_REPORTADOR] [nvarchar](50) NOT NULL,
	[ID_VEHICULO] [nvarchar](50) NOT NULL,
	[ID_TIPO_INSIDENTE] [nvarchar](50) NOT NULL,
	[ID_PILOTO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HISTORIAL_VEHICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MENSUALIDAD]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSUALIDAD](
	[ID_MENSUALIDAD] [nvarchar](50) NOT NULL,
	[MES] [nvarchar](50) NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[ID_CONTRATO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MENSUALIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MORA]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MORA](
	[ID_MORA] [nvarchar](50) NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[ID_MENSUALIDAD] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MUNICIPIO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUNICIPIO](
	[ID_MUNICIPIO] [nvarchar](50) NOT NULL,
	[NOMBRE_MUNICIPIO] [nvarchar](50) NOT NULL,
	[ID_DEPARTAMENTO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MUNICIPIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PARTE]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTE](
	[ID_PARTE] [nvarchar](50) NOT NULL,
	[NOMBRE_PARTE] [nvarchar](50) NOT NULL,
	[ID_TIPO_PARTE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PARTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PILOTO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PILOTO](
	[ID_PILOTO] [nvarchar](50) NOT NULL,
	[NIT_PILOTO] [nvarchar](50) NOT NULL,
	[DPI_PILOTO] [nvarchar](50) NOT NULL,
	[NUMERO_LICENCIA_PILOTO] [nvarchar](50) NOT NULL,
	[NOMBRE_PILOTO] [nvarchar](50) NOT NULL,
	[APELLIDO_1_PILOTO] [nvarchar](50) NOT NULL,
	[APELLIDO_2_PILOTO] [nvarchar](50) NOT NULL,
	[TELEFONO_1_PILOTO] [nvarchar](20) NOT NULL,
	[TELEFONO_2_PILOTO] [nvarchar](20) NOT NULL,
	[CORREO_PILOTO] [nvarchar](50) NOT NULL,
	[ID_EMPRESA] [nvarchar](50) NOT NULL,
	[ID_TIPO_LICENCIA] [nvarchar](50) NOT NULL,
	[ID_TIPO_SANGRE] [nvarchar](50) NOT NULL,
	[ID_DIRECION] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PILOTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRECIO_PASAJE]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRECIO_PASAJE](
	[ID_PRECIO_PASAJE] [nvarchar](50) NOT NULL,
	[PRECIO] [money] NOT NULL,
	[ID_RUTA] [nvarchar](50) NOT NULL,
	[ID_TIPO_PASAJE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRECIO_PASAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROPIETARIO_VEHICULO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPIETARIO_VEHICULO](
	[ID_PROPIETARIO] [nvarchar](50) NOT NULL,
	[NOMBRE_PROPIETARIO] [nvarchar](50) NOT NULL,
	[APELLIDO_1_PROPIETARIO] [nvarchar](50) NOT NULL,
	[APELLIDO_2_PROPIETARIO] [nvarchar](50) NOT NULL,
	[NIT_PROPIETARIO] [nvarchar](50) NOT NULL,
	[DPI_PROPIETARIO] [nvarchar](50) NOT NULL,
	[ID_DIRECION] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROPIETARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PUNTO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUNTO](
	[ID_PUNTO] [nvarchar](50) NOT NULL,
	[LONGITUD] [float] NOT NULL,
	[LATITUD] [float] NOT NULL,
	[ID_RUTA] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PUNTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REPRESENTANTE_LEGAL]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPRESENTANTE_LEGAL](
	[ID_REPRESENTANTE] [nvarchar](50) NOT NULL,
	[NIT_REPRESENTANTE] [nvarchar](50) NOT NULL,
	[NOMBRE_REPRESENTANTE] [nvarchar](50) NOT NULL,
	[APELLIDO_1_REPRESENTANTE] [nvarchar](50) NOT NULL,
	[APELLIDO_2_REPRESENTANTE] [nvarchar](50) NOT NULL,
	[TELEFONO_REPRESENTANTE] [nvarchar](20) NOT NULL,
	[CORREO_REPRESENTANTE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_REPRESENTANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RESULTADO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESULTADO](
	[ID_RESULTADO] [nvarchar](50) NOT NULL,
	[NOMBRE_RESULTADO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RESULTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RUTA]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTA](
	[ID_RUTA] [nvarchar](50) NOT NULL,
	[NOMBRE_RUTA] [nvarchar](50) NOT NULL,
	[TIEMPO_PROMEDIO] [time](7) NOT NULL,
	[ID_CIUDAD] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RUTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_BITACORA]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_BITACORA](
	[ID_TIPO_BITACORA] [nvarchar](50) NOT NULL,
	[NOMBRE_TIPO_BITACORA] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_BITACORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_CHECKEO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_CHECKEO](
	[ID_TIPO_CHECKEO] [nvarchar](50) NOT NULL,
	[NOMBRE_CHECKEO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_CHECKEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_EMPRESA]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_EMPRESA](
	[ID_TIPO_EMPRESA] [nvarchar](50) NOT NULL,
	[NOMBRE_TIPO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_INSIDENTE]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_INSIDENTE](
	[ID_TIPO_INSIDENTE] [nvarchar](50) NOT NULL,
	[NOMBRE_TIPO_INSIDENTE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_INSIDENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_LICENCIA]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_LICENCIA](
	[ID_TIPO_LICENCIA] [nvarchar](50) NOT NULL,
	[NOMBRE_TIPO_LICENCIA] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_LICENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_PAGO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PAGO](
	[ID_PAGO] [nvarchar](50) NOT NULL,
	[NOMBRE_PAGO] [nvarchar](50) NOT NULL,
	[ID_DETALLE_PAGO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_PARTE]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PARTE](
	[ID_TIPO_PARTE] [nvarchar](50) NOT NULL,
	[NOMBRE_TIPO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PARTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_PASAJE]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PASAJE](
	[ID_TIPO_PASAJE] [nvarchar](50) NOT NULL,
	[NOMBRE_TIPO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PASAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_SANGRE]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_SANGRE](
	[ID_TIPO_SANGRE] [nvarchar](50) NOT NULL,
	[NOMBRE_TIPO_SANGRE] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_SANGRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_USUARIO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_USUARIO](
	[ID_TIPO_USUARIO] [nvarchar](50) NOT NULL,
	[NOMBRE_TIPO_USUARIO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_VEHICULO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_VEHICULO](
	[ID_TIPO_VEHICULO] [nvarchar](50) NOT NULL,
	[NOMBRE_TIPO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_VEHICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [nvarchar](50) NOT NULL,
	[NOMBRE_USUARIO] [nvarchar](50) NOT NULL,
	[CONTRASEÑA] [nvarchar](50) NOT NULL,
	[ID_TIPO_USUARIO] [nvarchar](50) NOT NULL,
	[ID_DATOS_USUARIO] [nvarchar](50) NOT NULL,
	[ESTADO] [bit] NOT NULL,
 CONSTRAINT [PK__USUARIO__91136B908D7E24A1] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VEHICULO]    Script Date: 6/11/2017 17:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICULO](
	[ID_VEHICULO] [nvarchar](50) NOT NULL,
	[NUMERO_PLACA] [nvarchar](50) NOT NULL,
	[NUMERO_TARJETA_CIRCULACION] [nvarchar](50) NOT NULL,
	[MARCA] [nvarchar](50) NOT NULL,
	[MODELO] [nvarchar](50) NOT NULL,
	[COLOR] [nvarchar](50) NOT NULL,
	[CILINDRAJE] [nvarchar](50) NOT NULL,
	[NUMERO_ASIENTOS] [int] NOT NULL,
	[SOLVENCIA_TRANSITO] [bit] NOT NULL,
	[ID_EMPRESA] [nvarchar](50) NOT NULL,
	[ID_PROPIETARIO] [nvarchar](50) NOT NULL,
	[ID_TIPO_VEHICULO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VEHICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DATOS_USUARIO] ([ID_DATOS_USUARIO], [NOMBRE_EMPLEADO], [APELLIDO_1_EMPLEADO], [APELLIDO_2_EMPLEADO], [DPI_EMPLEADO], [TELEFONO_EMPLEADO]) VALUES (N'EMP-0001', N'edgar', N'vasquez', N'lopez', N'1235664', N'24642')
INSERT [dbo].[DATOS_USUARIO] ([ID_DATOS_USUARIO], [NOMBRE_EMPLEADO], [APELLIDO_1_EMPLEADO], [APELLIDO_2_EMPLEADO], [DPI_EMPLEADO], [TELEFONO_EMPLEADO]) VALUES (N'EMP-0002', N'nombre', N'uno', N'dos', N'pdi', N'tel')
INSERT [dbo].[DATOS_USUARIO] ([ID_DATOS_USUARIO], [NOMBRE_EMPLEADO], [APELLIDO_1_EMPLEADO], [APELLIDO_2_EMPLEADO], [DPI_EMPLEADO], [TELEFONO_EMPLEADO]) VALUES (N'EMP-0003', N'evaristo', N'vasquez', N'lopez', N'0000000', N'')
INSERT [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO], [NOMBRE_DEPARTAMENTO], [LONGITUD], [LATITUD]) VALUES (N'1', N'Quetzaltenango', -91.538086, 14.875778)
INSERT [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO], [NOMBRE_DEPARTAMENTO], [LONGITUD], [LATITUD]) VALUES (N'10', N'El Progreso', -87.80584, 15.384341)
INSERT [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO], [NOMBRE_DEPARTAMENTO], [LONGITUD], [LATITUD]) VALUES (N'11', N'Izabal', -88.941387, 15.591807)
INSERT [dbo].[MUNICIPIO] ([ID_MUNICIPIO], [NOMBRE_MUNICIPIO], [ID_DEPARTAMENTO]) VALUES (N'1', N'Almolonga', N'1')
INSERT [dbo].[MUNICIPIO] ([ID_MUNICIPIO], [NOMBRE_MUNICIPIO], [ID_DEPARTAMENTO]) VALUES (N'10', N'San Cristobál Totonicapán', N'2')
INSERT [dbo].[MUNICIPIO] ([ID_MUNICIPIO], [NOMBRE_MUNICIPIO], [ID_DEPARTAMENTO]) VALUES (N'100', N'San Luis Jilotepeque', N'13')
GO
INSERT [dbo].[RESULTADO] ([ID_RESULTADO], [NOMBRE_RESULTADO]) VALUES (N'1', N'bien')
INSERT [dbo].[RESULTADO] ([ID_RESULTADO], [NOMBRE_RESULTADO]) VALUES (N'2', N'bien')
INSERT [dbo].[TIPO_BITACORA] ([ID_TIPO_BITACORA], [NOMBRE_TIPO_BITACORA]) VALUES (N'1', N'Creacion')
INSERT [dbo].[TIPO_BITACORA] ([ID_TIPO_BITACORA], [NOMBRE_TIPO_BITACORA]) VALUES (N'2', N'Modificacion')
INSERT [dbo].[TIPO_CHECKEO] ([ID_TIPO_CHECKEO], [NOMBRE_CHECKEO]) VALUES (N'1', N'Completo')
INSERT [dbo].[TIPO_CHECKEO] ([ID_TIPO_CHECKEO], [NOMBRE_CHECKEO]) VALUES (N'2', N'Rutina')
INSERT [dbo].[TIPO_EMPRESA] ([ID_TIPO_EMPRESA], [NOMBRE_TIPO]) VALUES (N'1', N'Coperativa')
INSERT [dbo].[TIPO_EMPRESA] ([ID_TIPO_EMPRESA], [NOMBRE_TIPO]) VALUES (N'2', N'Municipal')
INSERT [dbo].[TIPO_EMPRESA] ([ID_TIPO_EMPRESA], [NOMBRE_TIPO]) VALUES (N'3', N'Instituto')
INSERT [dbo].[TIPO_INSIDENTE] ([ID_TIPO_INSIDENTE], [NOMBRE_TIPO_INSIDENTE]) VALUES (N'1', N'Accidente')
INSERT [dbo].[TIPO_INSIDENTE] ([ID_TIPO_INSIDENTE], [NOMBRE_TIPO_INSIDENTE]) VALUES (N'2', N'Reclamo')
INSERT [dbo].[TIPO_INSIDENTE] ([ID_TIPO_INSIDENTE], [NOMBRE_TIPO_INSIDENTE]) VALUES (N'3', N'Chequeo')
INSERT [dbo].[TIPO_LICENCIA] ([ID_TIPO_LICENCIA], [NOMBRE_TIPO_LICENCIA]) VALUES (N'1', N'C')
INSERT [dbo].[TIPO_LICENCIA] ([ID_TIPO_LICENCIA], [NOMBRE_TIPO_LICENCIA]) VALUES (N'2', N'B')
INSERT [dbo].[TIPO_LICENCIA] ([ID_TIPO_LICENCIA], [NOMBRE_TIPO_LICENCIA]) VALUES (N'3', N'A')
INSERT [dbo].[TIPO_PASAJE] ([ID_TIPO_PASAJE], [NOMBRE_TIPO]) VALUES (N'1', N'Completo')
INSERT [dbo].[TIPO_PASAJE] ([ID_TIPO_PASAJE], [NOMBRE_TIPO]) VALUES (N'2', N'Mediano')
INSERT [dbo].[TIPO_PASAJE] ([ID_TIPO_PASAJE], [NOMBRE_TIPO]) VALUES (N'3', N'Corto')
INSERT [dbo].[TIPO_USUARIO] ([ID_TIPO_USUARIO], [NOMBRE_TIPO_USUARIO]) VALUES (N'1', N'Administrador')
INSERT [dbo].[TIPO_USUARIO] ([ID_TIPO_USUARIO], [NOMBRE_TIPO_USUARIO]) VALUES (N'2', N'Estandar')
INSERT [dbo].[TIPO_USUARIO] ([ID_TIPO_USUARIO], [NOMBRE_TIPO_USUARIO]) VALUES (N'3', N'Visitante')
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE_USUARIO], [CONTRASEÑA], [ID_TIPO_USUARIO], [ID_DATOS_USUARIO], [ESTADO]) VALUES (N'USU-0001', N'edgar', N'C31AC605793F580B386C0FB53F1B9775', N'1', N'EMP-0001', 1)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE_USUARIO], [CONTRASEÑA], [ID_TIPO_USUARIO], [ID_DATOS_USUARIO], [ESTADO]) VALUES (N'USU-0002', N'evaristo', N'06D49632C9DC9BCB62AEAEF99612BA6B', N'2', N'EMP-0003', 1)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__PILOTO__028D8BE400F2BCB1]    Script Date: 6/11/2017 17:43:38 ******/
ALTER TABLE [dbo].[PILOTO] ADD UNIQUE NONCLUSTERED 
(
	[DPI_PILOTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__PILOTO__343748E58F75EAD3]    Script Date: 6/11/2017 17:43:38 ******/
ALTER TABLE [dbo].[PILOTO] ADD UNIQUE NONCLUSTERED 
(
	[NUMERO_LICENCIA_PILOTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__PILOTO__84B0AD0635DDF7F7]    Script Date: 6/11/2017 17:43:38 ******/
ALTER TABLE [dbo].[PILOTO] ADD UNIQUE NONCLUSTERED 
(
	[NIT_PILOTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__USUARIO__1E1399000B5B0547]    Script Date: 6/11/2017 17:43:38 ******/
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [UQ__USUARIO__1E1399000B5B0547] UNIQUE NONCLUSTERED 
(
	[NOMBRE_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_BITACORA])
REFERENCES [dbo].[TIPO_BITACORA] ([ID_TIPO_BITACORA])
GO
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD  CONSTRAINT [FK__BITACORA__ID_USU__0A9D95DB] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[BITACORA] CHECK CONSTRAINT [FK__BITACORA__ID_USU__0A9D95DB]
GO
ALTER TABLE [dbo].[CHECKEO]  WITH CHECK ADD  CONSTRAINT [FK__CHECKEO__ID_ESTA__00200768] FOREIGN KEY([ID_ESTADO_CHECKEO])
REFERENCES [dbo].[ESTADO_CHECKEO] ([ID_ESTADO_CHECKEO])
GO
ALTER TABLE [dbo].[CHECKEO] CHECK CONSTRAINT [FK__CHECKEO__ID_ESTA__00200768]
GO
ALTER TABLE [dbo].[CHECKEO]  WITH CHECK ADD  CONSTRAINT [FK__CHECKEO__ID_RESU__7F2BE32F] FOREIGN KEY([ID_RESULTADO])
REFERENCES [dbo].[RESULTADO] ([ID_RESULTADO])
GO
ALTER TABLE [dbo].[CHECKEO] CHECK CONSTRAINT [FK__CHECKEO__ID_RESU__7F2BE32F]
GO
ALTER TABLE [dbo].[CHECKEO]  WITH CHECK ADD  CONSTRAINT [FK__CHECKEO__ID_TIPO__7D439ABD] FOREIGN KEY([ID_TIPO_CHECKEO])
REFERENCES [dbo].[TIPO_CHECKEO] ([ID_TIPO_CHECKEO])
GO
ALTER TABLE [dbo].[CHECKEO] CHECK CONSTRAINT [FK__CHECKEO__ID_TIPO__7D439ABD]
GO
ALTER TABLE [dbo].[CHECKEO]  WITH CHECK ADD  CONSTRAINT [FK__CHECKEO__ID_USUA__07C12930] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[CHECKEO] CHECK CONSTRAINT [FK__CHECKEO__ID_USUA__07C12930]
GO
ALTER TABLE [dbo].[CHECKEO]  WITH CHECK ADD  CONSTRAINT [FK__CHECKEO__ID_VEHI__74AE54BC] FOREIGN KEY([ID_VEHICULO])
REFERENCES [dbo].[VEHICULO] ([ID_VEHICULO])
GO
ALTER TABLE [dbo].[CHECKEO] CHECK CONSTRAINT [FK__CHECKEO__ID_VEHI__74AE54BC]
GO
ALTER TABLE [dbo].[CIUDAD]  WITH CHECK ADD FOREIGN KEY([ID_MUNICIPIO])
REFERENCES [dbo].[MUNICIPIO] ([ID_MUNICIPIO])
GO
ALTER TABLE [dbo].[CONTRATO]  WITH CHECK ADD FOREIGN KEY([ID_ANIO])
REFERENCES [dbo].[ANIO] ([ID_ANIO])
GO
ALTER TABLE [dbo].[CONTRATO]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[CONTRATO]  WITH CHECK ADD FOREIGN KEY([ID_RUTA])
REFERENCES [dbo].[RUTA] ([ID_RUTA])
GO
ALTER TABLE [dbo].[CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK__CONTRATO__ID_USU__08B54D69] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[CONTRATO] CHECK CONSTRAINT [FK__CONTRATO__ID_USU__08B54D69]
GO
ALTER TABLE [dbo].[CONTRATO]  WITH CHECK ADD FOREIGN KEY([ID_VEHICULO])
REFERENCES [dbo].[VEHICULO] ([ID_VEHICULO])
GO
ALTER TABLE [dbo].[DETALLE_CHECKEO]  WITH CHECK ADD  CONSTRAINT [FK__DETALLE_C__ID_CH__7E37BEF6] FOREIGN KEY([ID_CHECKEO])
REFERENCES [dbo].[CHECKEO] ([ID_CHECKEO])
GO
ALTER TABLE [dbo].[DETALLE_CHECKEO] CHECK CONSTRAINT [FK__DETALLE_C__ID_CH__7E37BEF6]
GO
ALTER TABLE [dbo].[DETALLE_CHECKEO]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO_PARTE])
REFERENCES [dbo].[ESTADO_PARTE] ([ID_ESTADO_PARTE])
GO
ALTER TABLE [dbo].[DETALLE_CHECKEO]  WITH CHECK ADD FOREIGN KEY([ID_PARTE])
REFERENCES [dbo].[PARTE] ([ID_PARTE])
GO
ALTER TABLE [dbo].[DETALLE_PAGO]  WITH CHECK ADD FOREIGN KEY([ID_ENCABEZADO_PAGO])
REFERENCES [dbo].[ENCABEZADO_PAGO] ([ID_ENCABEZADO_PAGO])
GO
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD FOREIGN KEY([ID_MUNICIPIO])
REFERENCES [dbo].[MUNICIPIO] ([ID_MUNICIPIO])
GO
ALTER TABLE [dbo].[EMPRESA]  WITH CHECK ADD FOREIGN KEY([ID_DIRECION])
REFERENCES [dbo].[DIRECCION] ([ID_DIRECION])
GO
ALTER TABLE [dbo].[EMPRESA]  WITH CHECK ADD FOREIGN KEY([ID_REPRESENTANTE])
REFERENCES [dbo].[REPRESENTANTE_LEGAL] ([ID_REPRESENTANTE])
GO
ALTER TABLE [dbo].[EMPRESA]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_EMPRESA])
REFERENCES [dbo].[TIPO_EMPRESA] ([ID_TIPO_EMPRESA])
GO
ALTER TABLE [dbo].[ENCABEZADO_PAGO]  WITH CHECK ADD FOREIGN KEY([ID_CONTRATO])
REFERENCES [dbo].[CONTRATO] ([ID_CONTRATO])
GO
ALTER TABLE [dbo].[ENCABEZADO_PAGO]  WITH CHECK ADD  CONSTRAINT [FK__ENCABEZAD__ID_US__09A971A2] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[ENCABEZADO_PAGO] CHECK CONSTRAINT [FK__ENCABEZAD__ID_US__09A971A2]
GO
ALTER TABLE [dbo].[HISTORIAL_VEHICULO]  WITH CHECK ADD FOREIGN KEY([ID_PILOTO])
REFERENCES [dbo].[PILOTO] ([ID_PILOTO])
GO
ALTER TABLE [dbo].[HISTORIAL_VEHICULO]  WITH CHECK ADD FOREIGN KEY([ID_REPORTADOR])
REFERENCES [dbo].[DATOS_REPORTADOR] ([ID_REPORTADOR])
GO
ALTER TABLE [dbo].[HISTORIAL_VEHICULO]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_INSIDENTE])
REFERENCES [dbo].[TIPO_INSIDENTE] ([ID_TIPO_INSIDENTE])
GO
ALTER TABLE [dbo].[HISTORIAL_VEHICULO]  WITH CHECK ADD FOREIGN KEY([ID_VEHICULO])
REFERENCES [dbo].[VEHICULO] ([ID_VEHICULO])
GO
ALTER TABLE [dbo].[MENSUALIDAD]  WITH CHECK ADD FOREIGN KEY([ID_CONTRATO])
REFERENCES [dbo].[CONTRATO] ([ID_CONTRATO])
GO
ALTER TABLE [dbo].[MORA]  WITH CHECK ADD FOREIGN KEY([ID_MENSUALIDAD])
REFERENCES [dbo].[MENSUALIDAD] ([ID_MENSUALIDAD])
GO
ALTER TABLE [dbo].[MUNICIPIO]  WITH CHECK ADD FOREIGN KEY([ID_DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO])
GO
ALTER TABLE [dbo].[PARTE]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_PARTE])
REFERENCES [dbo].[TIPO_PARTE] ([ID_TIPO_PARTE])
GO
ALTER TABLE [dbo].[PILOTO]  WITH CHECK ADD FOREIGN KEY([ID_DIRECION])
REFERENCES [dbo].[DIRECCION] ([ID_DIRECION])
GO
ALTER TABLE [dbo].[PILOTO]  WITH CHECK ADD FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[PILOTO]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_LICENCIA])
REFERENCES [dbo].[TIPO_LICENCIA] ([ID_TIPO_LICENCIA])
GO
ALTER TABLE [dbo].[PILOTO]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_SANGRE])
REFERENCES [dbo].[TIPO_SANGRE] ([ID_TIPO_SANGRE])
GO
ALTER TABLE [dbo].[PRECIO_PASAJE]  WITH CHECK ADD FOREIGN KEY([ID_RUTA])
REFERENCES [dbo].[RUTA] ([ID_RUTA])
GO
ALTER TABLE [dbo].[PRECIO_PASAJE]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_PASAJE])
REFERENCES [dbo].[TIPO_PASAJE] ([ID_TIPO_PASAJE])
GO
ALTER TABLE [dbo].[PROPIETARIO_VEHICULO]  WITH CHECK ADD FOREIGN KEY([ID_DIRECION])
REFERENCES [dbo].[DIRECCION] ([ID_DIRECION])
GO
ALTER TABLE [dbo].[PUNTO]  WITH CHECK ADD FOREIGN KEY([ID_RUTA])
REFERENCES [dbo].[RUTA] ([ID_RUTA])
GO
ALTER TABLE [dbo].[RUTA]  WITH CHECK ADD FOREIGN KEY([ID_CIUDAD])
REFERENCES [dbo].[CIUDAD] ([ID_CIUDAD])
GO
ALTER TABLE [dbo].[TIPO_PAGO]  WITH CHECK ADD FOREIGN KEY([ID_DETALLE_PAGO])
REFERENCES [dbo].[DETALLE_PAGO] ([ID_DETALLE_PAGO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK__USUARIO__ID_DATO__0C85DE4D] FOREIGN KEY([ID_DATOS_USUARIO])
REFERENCES [dbo].[DATOS_USUARIO] ([ID_DATOS_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK__USUARIO__ID_DATO__0C85DE4D]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK__USUARIO__ID_TIPO__0B91BA14] FOREIGN KEY([ID_TIPO_USUARIO])
REFERENCES [dbo].[TIPO_USUARIO] ([ID_TIPO_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK__USUARIO__ID_TIPO__0B91BA14]
GO
ALTER TABLE [dbo].[VEHICULO]  WITH CHECK ADD FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[EMPRESA] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[VEHICULO]  WITH CHECK ADD FOREIGN KEY([ID_PROPIETARIO])
REFERENCES [dbo].[PROPIETARIO_VEHICULO] ([ID_PROPIETARIO])
GO
ALTER TABLE [dbo].[VEHICULO]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_VEHICULO])
REFERENCES [dbo].[TIPO_VEHICULO] ([ID_TIPO_VEHICULO])
GO
USE [master]
GO
